server {
    listen       80;  
    server_name {DOMAIN};
    # redirect all but /.well-known/acme-challenge/ to ssl
    if ($request_uri !~* "^/\.well-known/acme-challenge/") {
        return 301 https://$host$request_uri;
    }
    # serve /.well-known/acme-challenge/
    location ~* "^\.well-known/acme-challenge/" {
        root /opt/certbot-auth/{DOMAIN};
    }
}